{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content-block">
        <!-- HEADER -->
        {% include "header.html" %}
        <!-- Our-Blog -->
        <div class="bgImages opacityLayer" style="background-image: url({% static "img/blog-bg.jpg" %}); background-position: 50% 50%; background-size: cover">
            <div class="container">
                <div class="cell-view tableCellVH2">
                    <div class="emptySpace100 emptySpace-md50"></div>
                    <div class="emptySpace115 emptySpace-md50"></div>
                    <div class="row">
                        <!-- Our-Blog-Title -->
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="big titleShortcode">
                                <h3 class="h3">Read And Join</h3>
                                <h2 class="h1">Our Blog</h2>
                                <div class="emptySpace5"></div>
                                <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacusvel sed sem </p>    
                            </div>
                        </div>
                    </div>
                    <div class="emptySpace50"></div>
                </div>
            </div>
        </div>
        <div class="bgWhite">
            <div class="container">
                <div class="emptySpace110 emptySpace-xs60"></div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <!-- Fusce-Title -->
                        <div class="small titleShortcode2">
                           <a href="#"><h2 class="h2">Fusce id elit et tellus egestas</h2></a>
                            <div class="emptySpace20"></div>
                            <div class="eventWrapper">
                                <a href="#" class="persone">Mickey Ronalds</a>
                                <a href="#" class="calendar">August 17, 2016</a>
                                <a href="#" class="event">Upcoming  Events</a>    
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="emptySpace30"></div>
                <div class="row">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!-- Slide-1 -->
                            <div class="swiper-slide">
                                <img class="imgShortcode" src="img/blog_image.jpg" alt="">
                            </div>
                            <!-- Slide-2 -->
                            <div class="swiper-slide">
                                <img class="imgShortcode" src="img/blog_image2.jpg" alt="">
                            </div>
                            <!-- Slide-3 -->
                            <div class="swiper-slide">
                                <img class="imgShortcode" src="img/blog_image3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-white"></div>
                    </div>
                </div>
                <div class="emptySpace20"></div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="normall">
                            <p>Proin at interdum risus, interdum congue est. Sed convallis hendrerit enim. Donec mollis lacus magna. Nunc aliquam tellus ut vulputate mollis. Pellentesque a justo et orci imperdiet suscipit eu sed justo. Vestibulum eu erat lorem. Cras sit amet consequat ante, sit amet volutpat lacus.</p>
                            <div class="emptySpace25"></div>
                            <p>Donec auctor lacus ut odio lobortis rhoncus. Curabitur pellentesque ac dolor et imperdiet. Aenean consectetur erat quam, ac volutpat nisi placerat in. Nunc metus mi, tempus nec urna quis, tempus laoreet tellus. Etiam vel justo vestibulum, blandit velit quis, consequat lorem. Aenean tellus velit, condimentum ut tincidunt quis, fermentum ut velit. Mauris ac lacus lectus.</p>
                            <div class="emptySpace25"></div>
                            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eget est et justo consectetur tincidunt. Sed lobortis ut magna at blandit. Donec id pellentesque ipsum. Donec mollis lacus id enim lobortis, nec tristique libero scelerisque. Nam sit amet tristique mauris. Praesent vulputate, tortor quis gravida pretium, ligula felis scelerisque sem, eu eleifend ante libero sit amet diam. Maecenas ac pharetra lacus, nec rutrum erat. Nunc in vestibulum nisi. Curabitur cursus diam at lacus molestie, et ultrices risus consequat. Suspendisse tincidunt, risus id pellentesque vulputate, justo sem ornare velit, rutrum sodales eros sapien et magna. Maecenas quam arcu, vestibulum consectetur augue non, rhoncus porta odio. Praesent auctor fringilla fermentum. Praesent blandit orci lacus, sed consequat dui blandit non.</p>
                        </div>
                        <div class="emptySpace20"></div>
                        <div class="socialWrapper3">
                            <span class="normall share">Share:</span>
                            <a class="social2 shareBg spin spin2" href="https://www.facebook.com/" target="_blank">
								<i class="fa fa-facebook shareF2"></i>
							</a>
                            <a class="social2 shareBg spin spin2" href="https://twitter.com/" target="_blank">
								<i class="fa fa-twitter shareT2"></i>
							</a> 
                            <a class="social2 shareBg spin spin2" href="https://plus.google.com/#" target="_blank">
                            	<i class="fa fa-google-plus shareG2"></i>
                            </a>
                            <a class="social2 shareBg spin spin2" href="https://www.pinterest.com/" target="_blank">
                            	<i class="fa fa-pinterest-p sharePi2"></i>
                            </a>
                            <a class="social2 shareBg spin spin2" href="https://www.linkedin.com/" target="_blank">
								<i class="fa fa-linkedin shareIn2"></i>
							</a>
                        </div>
                        <div class="emptySpace-xs15"></div>
                        <div class="likeWrapper">
                            <div class="like"><span>35</span></div>
                            <div class="comment"><span>78</span></div>     
                        </div> 
                    </div>
                </div>
                <div class="emptySpace110 emptySpace-xs40"></div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                       <div class="titleShortcode2">
                           <h2 class="h2">Comments</h2>
                       </div>
                    </div>
                </div>
                <div class="emptySpace75 emptySpace-xs35"></div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- Comment-1 -->
                         <div class="commentBox">
                           <div class="normall bold personeInfo">
                                <img class="imgShortcode4" src="img/comment-persone.jpg" alt="">
                                <div class="emptySpace20 emptySpace-xs15"></div>
                                <a href="#">Carrie Gordon</a>
                           </div>
                           <div class="emptySpace-xs10"></div>
                           <div class="normall personeComment">
                                <div class="small">
                                    <p>August 17, 2016</p>
                                </div>
                                <div class="emptySpace15"></div>
                                <p>Donec auctor lacus ut odio lobortis rhoncus. Curabitur pellentesque ac dolor et imperdiet. Aenean consectetur erat quam, ac volutpat nisi placerat in. Nunc metus mi, tempus nec urna quis, tempus laoreet tellus.</p>
                                <div class="emptySpace10"></div>
                                <div class="like"><span>4</span></div>  
                            </div>
                            <div class="small replyComment">Reply</div>
                        </div>
                        <!-- Comment-2 -->
                        <div class="emptySpace40 emptySpace-xs30"></div>
                        <div class="commentBox commentAnswer">
                           <div class="normall bold personeInfo">
                                <img class="imgShortcode4" src="img/comment-persone2.jpg" alt="">
                                <div class="emptySpace20 emptySpace-xs15"></div>
                                <a href="#">Steven Crowly</a>
                           </div>
                           <div class="emptySpace-xs10"></div>
                           <div class="normall personeComment">
                                <div class="small">
                                    <p>10 minutes ago</p>
                                </div>
                                <div class="emptySpace15"></div>
                                <p>Curabitur pellentesque ac dolor et imperdiet. Aenean consectetur erat quam, ac volutpat nisi placerat in.</p>
                                <div class="emptySpace10"></div>
                                <div class="like"><span>0</span></div>  
                            </div>
                            <div class="small replyComment">Reply</div>
                        </div>
                        <!-- Comment-3 -->
                        <div class="emptySpace70 emptySpace-xs30"></div>
                        <div class="commentBox">
                           <div class="normall bold personeInfo">
                                <img class="imgShortcode4" src="img/comment-persone3.jpg" alt="">
                                <div class="emptySpace20 emptySpace-xs15"></div>
                                <a href="#">Phil Douglas</a>
                           </div>
                           <div class="emptySpace-xs10"></div>
                           <div class="normall personeComment">
                                <div class="small">
                                    <p>August 17, 2016</p>
                                </div>
                                <div class="emptySpace15"></div>
                                <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                <div class="emptySpace10"></div>
                                <div class="like"><span>11</span></div>  
                            </div>
                            <div class="small replyComment">Reply</div>
                        </div>
                    </div>
                </div>
                <div class="emptySpace35"></div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h4 class="h4">Leave A Comment</h4>
                        <div class="emptySpace25"></div>
                           <div class="row">
                           	<div class="col-xs-12 col-sm-6">
                                <form>
                                    <input class="contactsInput" type="text" placeholder="Name*">
                                </form>
                                <div class="emptySpace-xs20"></div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <form>
                                    <input class="contactsInput" type="email" placeholder="Email">
                                </form>
                            </div>
                           </div> 
                        <div class="emptySpace20"></div>
						<textarea class="contactsInput textArea" cols="20" rows="5" placeholder="Comment..."></textarea>
                        <div class="emptySpace30"></div>
                        <button class="button style-2" type="submit">Submit Message</button>	
					</div>
                </div>
            </div>
        </div>
        <div class="emptySpace-xs60 emptySpace130"></div>
        
        <div class="footerSeparator"></div>
        <div class="emptySpace50 emptySpace-xs30"></div>

{% endblock %}
